header.bg-indigo-600.p-4
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Bienes 
            span.font-normal Raices
        nav(class="my-auto text-sm md:flex md:items-center md:gap-3 font-bold text-white")
            a(href="" class='hover:text-yellow-400') Clientes
            a(href="" class='hover:text-yellow-400') Perfil
            a(class="bg-yellow-200 hover:bg-red-400 text-black cursor-pointer" href='#').rounded-lg.py-2.px-6 Cerrar Sesion
